.header {
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
  background-color: #f2f2f2;

  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
