.khan__book-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;

  transition: opacity 0.3s ease;
}
.khan__book-link:hover {
  opacity: 74%;
}