h1, h2, h3, p {
  margin: 0;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.text_centerer {
  text-align: center;
}

.logo {
  width: 183px;
  height: 32px;
  z-index: 999;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header {
  display: flex;
  position: relative;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  overflow: hidden;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.header__title {
  position: absolute;
  left: 64px;
  width: 730px;
  z-index: 999;
}
.header__title h1 {
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  z-index: 999;

  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main_illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 0;
  z-index: 1;
}
.header__main_illustration img {
  width: 765px;
  height: 608px;

}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 0;
}

.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  min-width: 784px;
  width: 80%;
  min-height: 252px;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__paragraph:last-child {
  margin: 0;
}
.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-title {
  width: 60%;
  margin-bottom: 20px;

  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
.section-subtitle {
  width: 60%;

  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;

}

.table__cell {
  width: 250px;
  margin-top: 60px;

}

.heading {

  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.text {
  margin-top: 20px;

  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}


/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
